* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backdrop-filter: blur(4px);

    user-select: none;
}


:root {
    --back-ground-img: url(../assets/new/Desktop--black.jpg);
    --img-mode-switch: url(../assets/moon-svg.svg);
    --color-page-initial: white;
    --switch-border-color: black;
}


.white {
    --back-ground-img: url(../assets/new/white-black.jpg);
    --img-mode-switch: url(../assets/sun.svg);
    --color-page-initial: black;
    --switch-border-color: black;

}

body {
    background-image: var(--back-ground-img);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    position: relative;
}


.container-page-initial * {
    color: var(--color-page-initial);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.container-page-initial {
    padding: 0 24px;

    top: 30%;
    position: absolute;
}

.title1 {
    margin: 32px;
    font-weight: 400;


}

.text {
    width: 68%;
    text-align: justify;

    font-size: 15px;
    font-weight: 300;
}

.text a {
    color: red;
}

.text a:hover {
    text-decoration: underline;
}

.socials {
    margin: 42px 0;

}

.socials ion-icon {
    padding: 18px;
}

.socials a {
    display: inline-block;
    transition: all 0.5s;
}


.socials a:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
}

.container-info {
    margin: 15px;
    /* border: 1px solid white; */

    display: grid;
    place-content: center;

}



.container-info img {
    width: 96vw;
    max-height: 92vh;
    padding: 12px;

}

.container-all * {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-page-initial);


}


.container-all {
    /* border: 1px solid white; */
    padding: 2px;

    width: 100%;

    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;


    position: relative;
    top: 10px;

}

.container-all h3 a:hover {
    text-decoration: underline;
}

.switch {
    width: 64px;
    position: relative;
    margin: 0 22px;
    border: none;


}

.switch button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: var(--img-mode-switch);
    background-position: center;
    background-repeat: no-repeat;

    border-color: var(--switch-border-color);

    cursor: pointer;


    position: absolute;
    top: 50%;

    z-index: 1;
    transform: translateY(-50%);


    animation: slide-black-mode 0.4s forwards;

}

.white .switch button {
    animation: slide-white-mode 0.4s forwards;
}


.switch span {

    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 64px;
    height: 24px;
    display: block;
    border-radius: 9999px;

}

.container-login * {
    font-family: 'Inter', sans-serif;
}

.container-login {

    position: absolute;
    top: 5%;
    left: 50%;

    transform: translateX(-50%);

    display: none;

    width: 660px;
    height: 569px;
    margin: 50px auto;

    color: white;
    border: 1px solid;

    background: linear-gradient(145deg, rgba(79, 78, 78, 0.9), rgb(25, 10, 25), #000000) padding-box,
        linear-gradient(145deg, slateblue, rgb(159, 75, 45), rgb(175, 52, 73)) border-box;
    border: 2.5px solid transparent;
    border-radius: 25px;

}

.title {
    /* border: 1px solid white; */
    margin: 36px 52px 0;

}

.title h3 {
    text-align: center;
    font-size: 30px;

}


/* container padding */

.container-padding * a {
    color: white;

}

.container-padding {
    height: 494px;
    width: 489px;
    margin: -15px 86px;
    /* border: 1px solid white; */

    padding: 50px 20px;
}

.container-padding .user-name {
    margin: 9px auto 0 54px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
}

.container-padding .user-name input {
    width: 271px;
    height: 25px;

    margin: 0 auto;
    padding: 12px;

    border-radius: 9999px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);

    cursor: pointer;

    color: white;

    transition: transform 0.5s;
}

.container-padding .user-name input:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);

}

.container-padding .password {
    margin: 8px auto 0 54px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;



    font-size: 14px;
}

.container-padding .password input {
    width: 271px;
    height: 25px;

    margin: 0 auto;
    padding: 12px;

    border-radius: 9999px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);

    cursor: pointer;

    color: white;

    transition: transform 0.5s;

}

.container-padding .password input:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);

}

.sing-in {
    text-align: center;
    margin: 22px 0 0 0;


}

.sing-in button {
    text-align: center;
    width: 20%;
    padding: 3px;
    border-radius: 999px;

    cursor: pointer;

    transition: transform 0.8;
}

.sing-in button:hover {
    transform: scale(1.1);
}

/* creat account */

.container-padding .creat-account {
    text-align: center;
    margin: 28px 0;

}

.container-padding .creat-account h3 {
    font-size: 15px;
}


.container-padding .creat-account a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 9999px;
    padding: 5px;
    display: inline-block;

    transition: transform 0.4s;
}

.container-padding .creat-account a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* container or */

.container-padding .container-or {
    text-align: center;
    margin: 26px;
    /* border: 1px solid white; */
    font-size: 17px;
}

/* container sing-up socials */

.container-padding .sing-in-google {
    height: 31px;
    width: 310px;
    margin: 0 auto;

    display: flex;

    align-items: center;
    padding: 0 10px;

    margin-bottom: 26px;


    border-radius: 8px;
    border: 2px solid black;
    background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
    opacity: 0.7;

    transition: transform 0.4s;
}

.container-padding .sing-in-google:hover {
    transform: scale(1.1);

}

.container-padding .sing-in-google a {
    margin: 0 auto;
    text-decoration: none;
}

.container-padding .sing-in-facebook {
    height: 31px;
    width: 310px;
    margin: 0 auto;

    display: flex;

    align-items: center;
    padding: 0 10px;

    margin-bottom: 26px;

    border-radius: 8px;
    border: 1px solid black;
    background: linear-gradient(120deg, #3b5998, #9a9393);
    opacity: 0.7;

    transition: transform 0.4s;
}

.container-padding .sing-in-facebook:hover {
    transform: scale(1.1);

}

.container-padding .sing-in-facebook a {
    margin: 0 auto;
    text-decoration: none;
}

.container-padding .sing-in-instagram {
    height: 31px;
    width: 310px;
    margin: 0 auto;

    display: flex;

    align-items: center;
    padding: 0 10px;

    margin-bottom: 28px;

    border-radius: 8px;
    border: 1px solid black;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    opacity: 0.7;

    transition: transform 0.4s;
}

.container-padding .sing-in-instagram:hover {
    transform: scale(1.1);
}

.container-padding .sing-in-instagram a {
    margin: 0 auto;
    text-decoration: none;
}

/* footer */

.footer {
    text-align: center;
}



@media (max-width: 700px) {

    .text {
        width: 100%;


        font-size: 10px;
        font-weight: 300;
    }

    .container {
        margin: 30px 0;
        /* border: 1px solid red; */

    }

    .container-page-initial {
        position: initial;
    }


    .container-data-hora {

        /* border: 1px solid red; */
        margin-bottom: 65px;

        position: absolute;

    }

    .container-all h3 a {
        font-size: 14px;
        padding: 10px;
    }


    .switch button {
        height: 27px;
        width: 27px;

    }

    .switch span {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 55px;
        height: 20px;
        display: block;
        border-radius: 9999px;

    }




}


@keyframes slide-black-mode {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }

}

@keyframes slide-white-mode {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }

}