* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: black;
    --back-ground-url: url(../assets/1024/width-360-800-white-mobi.jpg);
    --border-color: black;
    --back-ground-color: rgba(0, 0, 0, 0.1);
    --color-footer: black;
    --border-color-hover: black;
    --back-ground-color-social: rgba(0, 0, 0, 0.2);
    --switch-svg-url: url(../assets/sun.svg);
    --switch-span-background-color: rgba(0, 0, 0, 0.4);
    --switch-span-border-color: rgba(0, 0, 0, 0.5);
}

.black {

    --text-color: white;
    --back-ground-url: url(../assets/1024/width-1440x1024-black-desk.jpg );
    --border-color: rgba(255, 255, 255, 0.5);
    --back-ground-color: rgba(255, 255, 255, 0.1);
    --color-footer: white;
    --border-color-hover: wheat;
    --back-ground-color-social: rgba(255, 255, 255, 0.2);
    --switch-svg-url: url(../assets/moon-svg.svg);
    --switch-span-background-color: rgba(255, 255, 255, 0.1);
    --switch-span-border-color: rgba(255, 255, 255, 0.5);

}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

body {
    background-image: var(--back-ground-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}

.container {
    /* tirando a largura de fixa para 100% e limitando com max-width ex 560px */
    width: 100%;
    max-width: 588px;
    margin: auto;
    padding-top: 54px;
}

.profile {
    text-align: center;
    padding: 24px;
}


.profile img {
    width: 112px;
    border-radius: 100%;
    border: 1px solid black;
}

.profile p {
    font-weight: 500px;
    line-height: 24px;
    margin-top: 8px;
}

.switch {
    width: 64px;
    position: relative;
    margin: 4px auto;

}

.switch button {
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: var(--switch-svg-url);
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;


    position: absolute;
    top: 50%;

    /* left: 0;    sem animation */
    animation: deslisar-white 0.4s;

    z-index: 1;
    transform: translateY(-50%);

    cursor: pointer;

}

.black .switch button {

    /* right: 0;      sem animation
    left: initial;    sem animation*/
    animation: deslisar-black 0.4s forwards;
}

.switch button:hover {
    outline: 8px solid var(--switch-span-border-color);

}

.switch span {
    background-color: var(--switch-span-background-color);
    border: 1px solid var(--switch-span-border-color);
    width: 64px;
    height: 24px;
    display: block;
    border-radius: 9999px;

}





.info {
    padding: 24px;


}

.info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    border: 1px solid var(--border-color);
    background-color: var(--back-ground-color);
    border-radius: 8px;

    text-decoration: none;
    font-weight: 500px;

    transition: background-color 0.9s, transform 0.6s;
}

.info ul li a:hover {
    background-color: rgba(170, 47, 47, 0.2);
    border: 1.4px solid var(--border-color-hover);
    transform: scale(1.1);
}


/* ou */

/* .info ul {
    list-style: none;
    text-align: center;
    padding: 24px;


}

.info ul li {
    padding: 16px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 14px 0;
}

.info ul li a {
    text-decoration: none;

} */


.social {

    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social div a {
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    transition: background-color 0.9s;
}

.social div a:hover {
    background-color: var(--back-ground-color-social);

}

.footer {
    text-align: center;
    padding: 24px;
    font-weight: 400px;
    color: var(--color-footer);

}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    :root {
        --back-ground-url: url(../assets/1024/width-360-800-white-mobi.jpg);

    }

    .black {
        --back-ground-url: url(../assets/1024/width-360-800-black-mobi.jpg)
    }

    .container {
        max-width: 900px;
    }

}




/* criando animaçoes */

@keyframes deslisar-black {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes deslisar-white {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}